In [1]:
print("hello")

hello

In [2]:
str = "CIti bank india day1 trainining"

print(str)

print(str[8:])

CIti bank india day1 trainining
k india day1 trainining

In [3]:
list = ['amiya' , 120 , 'salu' , "amiya"]

print(list[0])

print(list[3:])

print(list * 2)

amiya
['amiya']
['amiya', 120, 'salu', 'amiya', 'amiya', 120, 'salu', 'amiya']

In [7]:
tuple = ('hello', 'how' , 'hello')

print(tuple)

print(tuple[0])

# typle[0] = 'changed '  ## will show error NameError.

out = (tuple * 3)

print(out)

('hello', 'how', 'hello')
hello
('hello', 'how', 'hello', 'hello', 'how', 'hello', 'hello', 'how', 'hello')

In [9]:
dict = {"one": 1, "two" : "2" , "numeric" : 242343.24234234}

print(dict)

print(dict.keys())

print(dict.values())

dict

{'one': 1, 'two': '2', 'numeric': 242343.24234234}
dict_keys(['one', 'two', 'numeric'])
dict_values([1, '2', 242343.24234234])

In [19]:
# checking with input funcation with 
input_val = input("What is your Name ? ")

print("Input is : " + input_val)

if(input_val == 'Amiya') : 
    print("Name is Amiya")
elif (input_val == 'salu'): 
    print("Name is Salu")
# elif int(input_val) == 32 : will fail while casting: ValueError
#     print("Your age i 32 " )
else :
    print("Name is not matching")

What is your Name ? alu
Input is : alu
Name is not matching

In [23]:
num = 0;

while(num < 10) : 
    print("number is %d "  % num)
    num = num + 1

number is 0
number is 1
number is 2
number is 3
number is 4
number is 5
number is 6
number is 7
number is 8
number is 9

In [24]:
num = 0;

while(num < 10) : 
    print("number is %d "  % num)
    num = num + 1
else :
    print("Number is equal to or greater then 10")

number is 0
number is 1
number is 2
number is 3
number is 4
number is 5
number is 6
number is 7
number is 8
number is 9
Number is equal to or greater then 10

In [25]:
"""Documentation comment with 3 double quotes"""

'Documentation comment with 3 double quotes'

In [26]:
for chr in 'python':
    print(chr)

p
y
t
h
o
n

In [27]:
fruit_li = ["banana" , "ORance" , "Mango" , "Peer"]

for fruit in fruit_li:
    print("Fruit name is : " , fruit)

Fruit name is :  banana
Fruit name is :  ORance
Fruit name is :  Mango
Fruit name is :  Peer

In [28]:
#Calcualtiong of prime number with template in print statement

for num in range(50,60):
    for i in range(2,num):
        if num % i == 0:
            j = num / i
            print('%d equals %d * %d ' % (num, i, j ))
            break
        else : 
            print(num, "is a primenumber")

50 equals 2 * 25
51 is a primenumber
51 equals 3 * 17
52 equals 2 * 26
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
53 is a primenumber
54 equals 2 * 27
55 is a primenumber
55 is a primenumber
55 is a primenumber
55 equals 5 * 11
56 equals 2 * 28
57 is a primenumber
57 equals 3 * 19
58 equals 2 * 29
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber
59 is a primenumber

In [31]:
for chr in 'python':
    if(chr == 'h'):
        print("We have touched h")
        break
    else :
        print("char is :" , chr)

char is : p
char is : y
char is : t
We have touched h

In [32]:
my_chohice = "choice"
print({"notone" : "not_foiune" , "choice" : "found"}[my_chohice])

found

In [37]:
#exponential value
import sys

val = -3

sys.stdout.write("Values is ")

print(val ** 2)  ##flushing the value
print(type(val))

Values is 9
<class 'int'>