In [5]:

list1 = ["java", "python", "scala", "golang", "html", "C" , "C++"]

list1.remove("python")
list1 += ["ASP .NET"]
print(list1.pop(3))

print(list1)

html
['java', 'scala', 'golang', 'C', 'C++', 'ASP .NET']

In [7]:
print (-442 - 77)
print (4 ** 3)
print (4.2 ** 3.2)
print (8 / 3)
print (8.0 / 3.0)
print (8 % 3)
print ((60. - 32.) * ( 5. / 9. ))
print (14 * 0x04)
print (170 / 4)
print (0x80 + 777)

-519
64
98.71831395268974
2.6666666666666665
2.6666666666666665
2
15.555555555555557
56
42.5
905

In [9]:
print (16399 + 0xA94E8)
print (-2147483648 - 52147483648)
print (64.375+1j + 4.23-8.5j)
print (0+1j ** 2   )       # same as 0+(lj**2)
print (1+1j ** 2    )      # same as 1+(lj**2)
print ((1+1j) ** 2)

709879
-54294967296
(68.605-7.5j)
(-1+0j)
0j
2j

In [11]:
x = 1                # 0001
print (x << 2)         # Shift left 2 bits: 0100
print (x | 2 )         # bitwise OR: 0011
print( x & 1 )         # bitwise AND: 0001

4
3
1

In [13]:
x, y = 3.1415926536, -1024
print( x < 5.0)
print (not (x < 5.0))
print ((x < 5.0) or (y > 2.718281828))
print ((x < 5.0) and (y > 2.718281828))
print (not (x is y))

True
False
True
False
True

In [15]:
print ("foo" == "foo")
print ("foo" == "bar")
 
 
 
 
print ('a' or 'b')                                
print ('' or 'b' )                                     
print ('' or [] or {})

True
False
a
b
{}

In [17]:
list1 = ["python", "pyspark", 1980, 2012]
list2 = [1,2,3,4,5,6,7]
 
print(list1[2])
print(list2[3:5])

1980
[4, 5]

In [19]:
print(list1[2])
list1[2] = 1985
print(list1[2])

1985
1985

In [21]:
list1 = ["python", "pyspark", 1980, 2012]
 
 
print(list1)
 
del list1[2]
 
print(list1)

['python', 'pyspark', 1980, 2012]
['python', 'pyspark', 2012]

In [23]:
list1 = ["python", "pyspark", 1980, 2012]
 
print(len(list1))

4

In [25]:
list1, list2 = ["pyspark", "java", "python", "scala", "golang", "spark"], [213, 234, 345, 456, 567]
 
print(list1)
print(list2)

['pyspark', 'java', 'python', 'scala', 'golang', 'spark']
[213, 234, 345, 456, 567]

In [27]:
print("min : ", min(list1))
print("min : ", min(list2))

min :  golang
min :  213

In [31]:
list1 = ["pyspark", "java", "python", "scala", "golang", "spark"]
 
list1.append("C#")
list1.append("Kotin")

print(list1)

['pyspark', 'java', 'python', 'scala', 'golang', 'spark', 'C#', 'Kotin']

In [35]:
list1.insert(2, 'erlang')
 
print(list1)

['pyspark', 'java', 'erlang', 'erlang', 'erlang', 'erlang', 'python', 'scala', 'golang', 'spark', 'C#', 'Kotin']

In [36]:
print("index = ", list1.index('pyspark'))

index =  0

In [38]:
list1 = ["pyspark", "java", "python", "scala", "golang", "spark"]
 
print(list1)
 
print(list1.pop())
 
print(list1)

['pyspark', 'java', 'python', 'scala', 'golang', 'spark']
spark
['pyspark', 'java', 'python', 'scala', 'golang']

In [40]:
list1 = ["pyspark", "java", "python", "scala", "python", "golang", "spark"]
 
print(list1.remove("python"))
 
print(list1)

None
['pyspark', 'java', 'scala', 'python', 'golang', 'spark']

In [41]:
list1 = ["pyspark", "java", "python", "scala", "golang", "spark"]

print(list1)

list1.sort()

print(list1)

['pyspark', 'java', 'python', 'scala', 'golang', 'spark']
['golang', 'java', 'pyspark', 'python', 'scala', 'spark']

In [47]:
list1 = ["pyspark", 0xae2, "java", "python", 345, 23.98, "scala", "golang", 567, "spark" ]

print(list1)

list1.sort()

print(list1)

['pyspark', 2786, 'java', 'python', 345, 23.98, 'scala', 'golang', 567, 'spark']

TypeError: '<' not supported between instances of 'int' and 'str'

In [55]:
numberlist = [21312,5464,7867,2134,87687,2345.34535]
stringlist = ["helo", "h", "amiya", "Ram","shyam"]
mixedlist = ["h",23434,"how", 56546]
sublist = ["sub1", ["sub2", " sub3"]]

All_list = [numberlist, stringlist, mixedlist, sublist]

print(All_list)

[[21312, 5464, 7867, 2134, 87687, 2345.34535], ['helo', 'h', 'amiya', 'Ram', 'shyam'], ['h', 23434, 'how', 56546], ['sub1', ['sub2', ' sub3']]]

In [56]:
for elm in All_list :
    for each_elm in elm :
        if isinstance(each_elm, int) :
            print(each_elm, " is an integer")
        elif(isinstance(each_elm, str)):
            print(each_elm , " is a string")
        else :
            print("cannot recoginise instance")

21312  is an integer
5464  is an integer
7867  is an integer
2134  is an integer
87687  is an integer
cannot recoginise instance
helo  is a string
h  is a string
amiya  is a string
Ram  is a string
shyam  is a string
h  is a string
23434  is an integer
how  is a string
56546  is an integer
sub1  is a string
cannot recoginise instance

In [57]:
list1 = ["pyspark", "java", "python", "scala", "golang", "spark"]
 
print(list1)
 
list2 = ["C#", "Erlang", "Kotlin"]
 
list1 += list2
 
 
print(list1)

['pyspark', 'java', 'python', 'scala', 'golang', 'spark']
['pyspark', 'java', 'python', 'scala', 'golang', 'spark', 'C#', 'Erlang', 'Kotlin']

In [58]:
list1 = ["pyspark", "java", "python", "scala", "golang", "spark"]
 
print(list1)
 
list2 = ["C#", "Erlang", "Kotlin"]

list1.extend(list2)

print(list1)

['pyspark', 'java', 'python', 'scala', 'golang', 'spark']
['pyspark', 'java', 'python', 'scala', 'golang', 'spark', 'C#', 'Erlang', 'Kotlin']

In [59]:
###tuple

a = 1,2,3,4,5,5

if isinstance(a, int):
    print(a)
else :
    print(a)   ##By default comma separted values are considered as tuple by default.

(1, 2, 3, 4, 5, 5)

In [68]:
## list inside tuple
tup = (["hello", 14], 3434, "hello")

print(tup)

tup[0][1] =  ["234234"]

print(tup)

(['hello', 14], 3434, 'hello')
(['hello', ['234234']], 3434, 'hello')

In [73]:
## Appending to a tuple
tup = (234,234,5345,562,)

print(tup)

new = tup + ("abc","def","ghi")
print(new)

tup = tup + ("abc","def","ghi")
print(tup)

(234, 234, 5345, 562)
(234, 234, 5345, 562, 'abc', 'def', 'ghi')
(234, 234, 5345, 562, 'abc', 'def', 'ghi')

In [74]:
#Converting list to tuple

list1 = ["java", "scala", "python", "Ruby", "Golang"]

print(list1)

tup = tuple(list1)

print(tup)

['java', 'scala', 'python', 'Ruby', 'Golang']
('java', 'scala', 'python', 'Ruby', 'Golang')

In [75]:
## converting string to tuple

str1 = "My name is Amiya"

print(tuple(str1))

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'm', 'i', 'y', 'a')

In [80]:
## Positional access in a string variable

str1 = "My name is Amiya";
print(str1[8])

print(str1[0:9])

print(str1[8:])

print(str1[:8])

i
My name i
is Amiya
My name

In [82]:
str2 = """PySpark certification training is curated by top industry experts 
to help you master skills that are required to become a successful 
Spark developer using Python. This PySpark training will help you to
master Apache Spark and the Spark ecosystem, which includes Spark 
RDDs, Spark SQL, Spark Streaming and Spark MLlib along with the 
integration of Spark with other tools such as Kafka and Flume. 
Our PySpark online course is live, instructor-led & helps you 
master key PySpark concepts with hands-on demonstrations. 
This PySpark training is fully immersive, where you can learn and 
interact with the instructor and your peers."""

print(str2)

PySpark certification training is curated by top industry experts
to help you master skills that are required to become a successful
Spark developer using Python. This PySpark training will help you to
master Apache Spark and the Spark ecosystem, which includes Spark
RDDs, Spark SQL, Spark Streaming and Spark MLlib along with the
integration of Spark with other tools such as Kafka and Flume.
Our PySpark online course is live, instructor-led & helps you
master key PySpark concepts with hands-on demonstrations.
This PySpark training is fully immersive, where you can learn and
interact with the instructor and your peers.

In [84]:
### raw string
print('c:\\myfolder')

print(r'c:\\myfolder')

c:\myfolder
c:\\myfolder

In [86]:
# unicode string 

print('Hello , world !')

print(u'Hello , World !')

Hello , world !
Hello , World !

In [97]:
str1 = "my first python programing"

print(str1.capitalize())

print(str1.center(100,'~'))

check_char = 'o'

print(str1.count(check_char))  ##counting number of occurance in  a string with matching char

print(str1.count(check_char, 16 , 30))  ##counting occurance on a range

check_end_string = "ing"

print(str1.endswith(check_end_string))

print(str1.endswith(check_end_string, 0,15))

print(str1.endswith(check_end_string, 31))

My first python programing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~my first python programing~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2
1
True
False
False

In [105]:
#Testing the join functionality

s = '_'

str1 = "hello how are your"

tup1 = ("4234","i" , "will", "do")

list1 = ["hello", 234234]

list2 = [456456, 234234]

print(s.join(str1))

print(s.join(tup1))


print(s.join(list2))  ## Type Error : expected str instance, int found

print(s.join(list1))  ## we canont do join with list having different types TypeError

h_e_l_l_o_ _h_o_w_ _a_r_e_ _y_o_u_r
4234_i_will_do

TypeError: sequence item 0: expected str instance, int found

In [112]:
## Using translate in python

str1 = "Hi guys how r u doing"

inputs = "aeiou"
output = "12345"

transtab = str1.maketrans(inputs,output)

print(transtab)

print(str1.translate(transtab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
H3 g5ys h4w r 5 d43ng

In [113]:
import base64

str1 = "Checking base64 encoding method"

print(base64.b64encode(str1.encode('utf-8', errors = 'strict')))

b'Q2hlY2tpbmcgYmFzZTY0IGVuY29kaW5nIG1ldGhvZA=='

In [115]:
#Exception handling
try:
    x = input("enter your number")
    y = int(x)
    print(y)
except (ValueError, TypeError):
    print("They didn't looks like integer")

enter your numberheell
They didn't looks like integer

In [ ]:
try:
    x = input("pls enter your name: ")
    print(x)
except (KeyboardInterupt):
    print("Interupted")